* {
    /* border: 1px solid red; */
    font-family: 'Crimson Pro', serif;
}

body {
    border: 10px solid black;
    margin: 0;
}

.background {
        display: grid;
        background-image: url(../img/chess-buddika-gunathilaka-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding-bottom: 30px;
}

.interact {
    background-position: 50% 45%;
    width: 860px;
    margin: 0 auto;
}

.input {
    margin: 10px auto;
    padding: .8% 5%;
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid rgba(0, 0, 0, .6);
}

.prompt, .question {
    font-size: 1.1rem;
}

.question {
    width: 600px;
}

.shake {
    display: block;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    color: white;
    background-color: #333333;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
}

@keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); } 
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake:active {
    background-color: #777777;
}

.ball {
    display: flex;
    border-radius: 50%;
    background-image: url("../img/8ball.png");
    background-position: 50% 45%;
    width: 797px;
    height: 797px;
    margin: 0 auto;
    align-items: center;
}

#shakeball {
    animation-name: shake;
    animation-duration: 1.7s;
    transform-origin: 0% 500%;
    animation-iteration-count: 1;
}

.fortune {
    margin: auto;
    color: white;
    background-color: initial;
    width: 130px;
    text-align: center;
    text-shadow: 1px 1px 10px blue;
}

@media (max-width: 480px) {
    body {
        border: none;
    }

    .background {
        /* background-image: linear-gradient(#000055, #000011); */
        background-image: none;
    }

    .interact {
        width: 480px;
    }

    .prompt, .question {
        display: block;
        font-size: 2rem;
    }

    .question {
        width: 400px;
    }

    .shake {
        height: 55px;
        width: 135px;
        font-size: 30px;
    }

    /* .prompt {
        color: #999999;
    } */

    /* .ball { 
    } */
}